on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

name: Lint

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  super-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Lint Code Base
        uses: super-linter/super-linter@f74ec440e1978c07a875ee254a3b6ab0b5598632 # v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
